* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

:root {
  --color: #fff;
  --transparent: #525252;
  --subtitulo: #e0e0e0;
  --text: #a3a3a3;

  --background-fundo-black: #000000;
  --background-black: #141414;
  --background-white: #f1f1f1;
  --background-fundo: #f5f5f5;
  --border-red: rgb(238, 26, 26);

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.navbar-container {
  background-color: var(--background-black);
  position: fixed;
  width: 100%;
  padding: 0 2rem;
  height: 80px;

  top: 0;
  right: 0;
  z-index: 1;
  padding: 1.5re 10%;
  margin: 0 auto;
}

#logo {
  justify-content: center;
  text-align: center;
  justify-content: center;
  margin-top: 18px;
  font-size: 24px;
  font-weight: bold;
  color: var(--color);
  padding: .5rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navbar-menu a {
  color: var(--color);
  font-size: 17px;
  padding: .5rem 0;
  margin: 0 2rem;
  transition: 0.5s;
}

.navbar-menu a:hover {
  color: var(--text);
  border-bottom: 1px solid var(--border-red);
}

.navbar-menu {
  display: flex;

  line-height: 80px;
  margin: 0;
}

#btn-mobile {
  display: none;
}

#CV {
  padding: 15px 20px;
  background-color: var(--color);
  border-radius: 5px;
  color: var(--background-black);
}

.navbar-menu #CV:hover {
  background-color: var(--border-red);
  color: var(--color);
  border-bottom: none;
}

/*Introdução*/
.introducao {
  max-width: 1200px;
  padding: 110px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao p {
  font-size: 1.5rem;
  color: var(--transparent);
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

/*Experiencia*/
.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: var(--subtitulo);
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: var(--transparent);
}

.experiencia-texto strong {
  color: var(--background-black);
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: var(--background-fundo);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: var(--transparent);
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--transparent);
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: var(--color);
  padding: 5px 10px;
}

/*Formação*/
.formacao {
  background: var(--background-fundo);
  color: var(--background-black);
}

.formacao-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.formacao-subtitulo {
  color: var(--background-fundo-black);
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: var(--background-black);
}

.formacao-texto strong {
  color: var(--text);
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: var(--background-black);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: .875rem;
  text-transform: uppercase;
  color: var(--color);
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
  color: var(--background-fundo);
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  left: -24px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: var(--color);
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 0.857rem;
  line-height: 1.4;
  color: var(--background-black);
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
}

.cursos h3::before {
  background: url("../assets/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../assets/idiomas.svg") no-repeat center center;
}

.formacao-extra LI {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

/*Projetos*/
.projetos {
  background: var(--color);
  color: var(--background-black);
}

.projetos-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.projetos-subtitulo {
  color: var(--background-fundo-black);
  max-width: 5ch;
}

.projeto-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 10px;
}

.project {
  flex: 1;
  background: var(--background-fundo-black);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.name a{
  font-size: .875rem;
  text-transform: uppercase;
  color: var(--color);
}

.name a:hover{
  border-bottom: 1px solid var(--border-red);
}

.project-curso {
  flex: 1;
  margin-bottom: 40px;
  position: relative;
  margin-top: 10px;
}

.projetos-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  left: -24px;
}

.project-gitHub a{
  color: var(--color);
  transition: .4s;
}

.project-gitHub  a:hover{
  border-bottom: 1px solid var(--border-red);
}


/*Footer*/
.footer {
  background: var(--background-fundo);
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--background-black);
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: var(--background-black);
  margin-bottom: 30px;
}

.footer-contato {
  color: var(--background-black);
}

.footer-contato li a {
  color: var(--background-black);
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: var(--background-black);
  margin: 0 auto;
}

/*Tablet*/
@media (max-width: 884px) {

  /*Menu*/
  .navbar-menu {
    display: block;
    position: absolute;
    width: 40%;
    top: 60px;
    right: 0;
    background-color: var(--background-black);
    transition: .6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;

    text-align: center;
    justify-content: center;
  }

  .navbar-container.active .navbar-menu {
    height: calc(70vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  .navbar-menu a {
    padding: 1rem 0;
    margin: 0 auto;
    border-bottom: 1px solid var(--color);
  }

  #btn-mobile {
    display: flex;
    padding: 2rem 1rem;
    font-size: 12px;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }

  #hamburger {
    border-top: 2px solid var(--border-red);
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;

    width: 20px;
    height: 2px;
    background-color: var(--border-red);
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  .navbar-container.active #hamburger {
    border-top-color: transparent;
  }

  .navbar-container.active #hamburger::before {
    transform: rotate(135deg);
  }

  .navbar-container.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  /*Introdução*/
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 100px 20px;
  }

  .introducao h1 {
    font-size: 2rem;
  }

  .introducao p {
    font-size: 1.3rem;
  }

  .subtitulo {
    font-size: 2.5rem;
    text-transform: capitalize;
    max-width: initial !important;
  }

  /*Experiencia*/

  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    color: var(--background-black);
  }

  .experiencia-texto {
    font-size: 1.6rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }

}


/*Mobile*/
@media (max-width: 480px) {

  /*Menu*/
  .navbar-menu {
    display: block;
    position: absolute;
    width: 40%;
    top: 60px;
    right: 0;
    background-color: var(--background-black);
    transition: .6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;

    text-align: center;
    justify-content: center;
  }

  .navbar-container.active .navbar-menu {
    height: calc(70vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  .navbar-menu a {
    padding: 1rem 0;
    margin: 0 auto;
    border-bottom: 1px solid var(--color);
  }

  #btn-mobile {
    display: flex;
    padding: 2rem 1rem;
    font-size: 12px;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }

  #hamburger {
    border-top: 2px solid var(--border-red);
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;

    width: 20px;
    height: 2px;
    background-color: var(--border-red);
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  .navbar-container.active #hamburger {
    border-top-color: transparent;
  }

  .navbar-container.active #hamburger::before {
    transform: rotate(135deg);
  }

  .navbar-container.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  /*Introdução */
  .introducao {
    display: flex;
    flex-direction: column;
  }

  .introducao img {
    width: 170px;
    height: 220px;
  }

  .introducao h1 {
    text-align: center;
    justify-self: center;
  }

  .introducao p {
    font-size: 1.2rem;
    text-align: center;
  }

  /* Experiencia*/
  .empresa {
    grid-template-columns: 1fr;
  }

  .experiencia-texto {
    font-size: 1.2rem;
  }

  /*Formação*/
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .formacao .subtitulo {
    color: var(--background-black);
  }

  .formacao-texto {
    font-size: 1.25rem;
  }

  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }

  /*projetos*/
  .projetos-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .projetos .subtitulo {
    color: var(--background-black);
  }

  .projeto-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .projetos h3::before {
    position: initial;
    margin-bottom: 10px;
  }

  /*Footer*/
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }

}